<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>

    <property>
        <name>ozone.om.address</name>
        <value>11.217.224.71</value>
        <tag>OM, REQUIRED</tag>
        <description>
            The address of the Ozone OM service. This allows clients to discover
            the address of the OM.
        </description>
    </property>

    <property>
        <name>ozone.metadata.dirs</name>
        <value>/data/ozone/meta</value>
        <tag>OZONE, OM, SCM, CONTAINER, STORAGE, REQUIRED</tag>
        <description>
            This setting is the fallback location for SCM, OM, Recon and DataNodes
            to store their metadata. This setting may be used only in test/PoC
            clusters to simplify configuration.

            For production clusters or any time you care about performance, it is
            recommended that ozone.om.db.dirs, ozone.scm.db.dirs and
            dfs.container.ratis.datanode.storage.dir be configured separately.
        </description>
    </property>

    <property>
        <name>ozone.scm.datanode.id.dir</name>
        <value>/data/ozone/meta/node</value>
    </property>

    <property>
        <name>ozone.scm.db.dirs</name>
        <value>/data/ozone/meta/db</value>
    </property>

    <property>
        <name>ozone.om.db.dirs</name>
        <value>/data/ozone/meta/omdb</value>
    </property>

    <property>
        <name>dfs.container.ratis.datanode.storage.dir</name>
        <value>/data/ozone/meta/ratis</value>
        <tag>OZONE, CONTAINER, STORAGE, MANAGEMENT, RATIS</tag>
        <description>
            This directory is used for storing Ratis metadata like logs. If this is
            not set then default metadata dirs is used. A warning will be logged if
            this not set. Ideally, this should be mapped to a fast disk like an SSD.
        </description>
    </property>

    <property>
        <name>ozone.om.ratis.enable</name>
        <value>false</value>
        <tag>OZONE, OM, RATIS, MANAGEMENT</tag>
        <description>
            Property to enable or disable Ratis server on OM.
            Please note - this is a temporary property to disable OM Ratis server.
        </description>
    </property>

    <property>
        <name>dfs.datanode.data.dir</name>
        <value>/grid/0/ozone/dfs/data,/grid/1/ozone/dfs/data,/grid/2/ozone/dfs/data,/grid/3/ozone/dfs/data,/grid/4/ozone/dfs/data,/grid/5/ozone/dfs/data,/grid/6/ozone/dfs/data,/grid/7/ozone/dfs/data,/grid/8/ozone/dfs/data,/grid/9/ozone/dfs/data,/grid/10/ozone/dfs/data,/grid/11/ozone/dfs/data,/grid/12/ozone/dfs/data,/grid/13/ozone/dfs/data,/grid/14/ozone/dfs/data,/grid/15/ozone/dfs/data,/grid/16/ozone/dfs/data,/grid/17/ozone/dfs/data</value>
   </property>

    <property>
        <name>ozone.scm.client.address</name>
        <value>11.217.224.71</value>
        <tag>OZONE, SCM, REQUIRED</tag>
        <description>
            The address of the Ozone SCM client service. This is a required setting.

            It is a string in the host:port format. The port number is optional
            and defaults to 9860.
        </description>
    </property>

    <property>
        <name>ozone.scm.names</name>
        <value>11.217.224.71</value>
        <tag>OZONE, REQUIRED</tag>
        <description>
            The value of this property is a set of DNS | DNS:PORT | IP
            Address | IP:PORT. Written as a comma separated string. e.g. scm1,
            scm2:8020, 7.7.7.7:7777.
            This property allows datanodes to discover where SCM is, so that
            datanodes can send heartbeat to SCM.
        </description>
    </property>

    <property>
        <name>ozone.s3g.volume.name</name>
        <value>s3v</value>
        <description>
            The volume name to access through the s3gateway.
        </description>
    </property>

    <property>
        <name>ozone.replication</name>
        <value>1</value>
        <tag>OZONE, CLIENT</tag>
        <description>
            Default replication value. The actual number of replications can be
            specified when writing the key. The default is used if replication
            is not specified. Supported values: 1 and 3.
        </description>
    </property>

    <property>
        <name>hdds.prometheus.endpoint.enabled</name>
        <value>true</value>
        <tag>OZONE, MANAGEMENT</tag>
        <description>
            Enable prometheus compatible metric page on the HTTP
            servers.
        </description>
    </property>

    <property>
        <name>hdds.profiler.endpoint.enabled</name>
        <value>false</value>
        <tag>OZONE, MANAGEMENT</tag>
        <description>
            Enable /prof java profiler servlet page on HTTP server.
        </description>
    </property>

    <property>
        <name>ozone.recon.http-address</name>
        <value>0.0.0.0:8001</value>
    </property>

</configuration>

